In [2]:
import matplotlib.pyplot as plt 
import numpy as np
import pandas as pd

In [4]:
data1 = pd.read_csv("Rattaringlus2019.06--2019.12.csv")
data2 = pd.read_csv("Rattaringlus2019.12--2020.07.csv")

In [5]:
data1.head()

,unlockedat,unlockedattime,lockedat,lockedattime,length,startstationname,endstationname
0,2019-06-01,09:37:57,2019-06-01,10:18:07,0.04,Warehouse,Warehouse
1,2019-06-01,09:39:42,2019-06-01,10:13:56,0.07,Undetermined,Warehouse
2,2019-06-01,09:41:28,2019-06-01,10:19:49,0.03,Undetermined,Warehouse
3,2019-06-01,09:48:09,2019-06-01,10:22:08,0.03,Warehouse,Warehouse
4,2019-06-01,10:02:54,2019-06-01,10:05:17,0.02,Warehouse,Warehouse

In [6]:
data2.head()

,unlockedat,unlockedattime,lockedat,lockedattime,length,startstationname,endstationname
0,2019-12-14,15:25:43,2019-12-14,15:33:21,1.76,Kalda tee,Tarmeko
1,2019-12-14,15:26:21,2019-12-14,15:47:08,3.75,Annelinna keskus,Annelinna keskus
2,2019-12-14,15:27:35,2019-12-14,15:35:19,1.25,S천pruse sild,Soola
3,2019-12-14,15:31:17,2019-12-14,15:46:10,2.79,L천unakeskus,Aparaaditehas
4,2019-12-14,15:34:48,2019-12-14,15:41:17,1.80,Torni,Veeriku