In [1]:
import matplotlib.pyplot as plt 
import numpy as np
import pandas as pd

In [7]:
data = pd.read_csv("testike3.csv")

In [8]:
data.head()

,unlockedat,unlockedattime,lockedat,lockedattime,length,startstationname,endstationname
0,01/06/2019,09:37:57,01/06/2019,10:18:07,0.04,Warehouse,Warehouse
1,01/06/2019,09:39:42,01/06/2019,10:13:56,0.07,Undetermined,Warehouse
2,01/06/2019,09:41:28,01/06/2019,10:19:49,0.03,Undetermined,Warehouse
3,01/06/2019,09:48:09,01/06/2019,10:22:08,0.03,Warehouse,Warehouse
4,01/06/2019,10:02:54,01/06/2019,10:05:17,0.02,Warehouse,Warehouse